.profilna img{
    border-radius:50% !important;
    border:3px solid red;
}
.profilna{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.card-body{
    display:flex;
}
.profilnaText p{
    margin-left:20px;
}
.profilnaText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to bottom, rgba(237,140,255,1) 1%,rgba(184,75,204,1) 25%,rgba(171,9,186,1) 50%,rgba(184,75,204,1) 75%,rgba(237,140,255,1) 100%);
    color:white;
    border-radius:25px !important;
}
.profilnaText p{
    margin-right: 20px;
}
.faq{
    margin-top:100px !important;
}
button{
    background: linear-gradient(to bottom, rgba(237,140,255,1) 1%,rgba(184,75,204,1) 25%,rgba(171,9,186,1) 50%,rgba(184,75,204,1) 75%,rgba(237,140,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.accordion .card{
    border:none;
}