main{
    display: flex;
}
.slika img{
    width:100%;
    height:auto;
    overflow: hidden;
}
.slika{
    width: 100%;
    height: 1000px;
}
.slika:nth-child(1){
    background-image: url("../img/gradovi/istanbul.jpg");
    background-position: center;
}
.slika:nth-child(2){
    background-image: url("../img/gradovi/lima.jpg");
    background-position: center;
}
.slika:nth-child(3){
    background-image: url("../img/gradovi/njujork.jpeg");
    background-position: center;
}
.slika:nth-child(4){
    background-image: url("../img/gradovi/njujork.jpeg");
}

.slika{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kontaktPodaci{
    color:white;
}
.kontaktPodaci h2{
    background-color: rgba(193, 31, 121, 0.8);
}
.form1{
    display:none;
}
#frame1{
    display:none;
}

#info{
   display:none;
}
.kontaktPodaci{
    width: 100%;
}
.list-unstyled li{
    border-bottom:1px solid rgb(193, 31, 121);
    padding:10px 0 10px 0;
    color:purple;
    background-color: white;
}
.float-right a{
    color:purple;
    text-decoration:none;
}
.float-right a:hover{
    color:purple;
    text-decoration:none;
}
.btn-danger{
    background-color: rgba(193, 31, 121, 1) !important;
}


@media (max-width: 991px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .slika{
        width: 100%;
    }
}

@media (min-width: 992px) {
    main{
        display: flex;
        flex-direction: row;
    }
    .slika{
        width: calc(100%/3);
    }
}

